.icon-nav-menu{
	background-image: url("../images/hamburger.png");
}
[class^="icon-"],
[class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-slider-right:before {
  content: "\e600";
}
.icon-slider-left:before {
  content: "\e601";
}
.icon-nav-menu:before {
  content: "\e602";
}
.icon-arrow-down:before,
.icon-dropdown-toggle:before {
  content: "\e603";
}
.icon-file-upload-remove:before {
  content: "\e900";
}
.icon-file-upload-icon:before {
  content: "\e903";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
    overflow-x:hidden;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
overflow-x: hidden;

}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
html.mod-touch * {
  background-attachment: scroll !important;
}
.block {
  display: block;
}
.inline-block {
  max-width: 100%;
  display: inline-block;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none;
}
.button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
input.button {
  -webkit-appearance: button;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
blockquote {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-left: 5px solid #E2E2E2;
  font-size: 18px;
  line-height: 22px;
}
figure {
  margin: 0;
  margin-bottom: 10px;
}
figcaption {
  margin-top: 5px;
  text-align: center;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.embed:before,
.embed:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.embed:after {
  clear: both;
}

}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}
.form {
  margin: 0 0 15px;
}
.form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.input,
.select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.input:-moz-placeholder,
.select:-moz-placeholder {
  color: #999;
}
.input::-moz-placeholder,
.select::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input:-ms-input-placeholder,
.select:-ms-input-placeholder {
  color: #999;
}
.input::-webkit-input-placeholder,
.select::-webkit-input-placeholder {
  color: #999;
}
.input:focus,
.select:focus {
  border-color: #3898EC;
  outline: 0;
}
.input[disabled],
.select[disabled],
.input[readonly],
.select[readonly],
fieldset[disabled] .input,
fieldset[disabled] .select {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.input,
textarea.select {
  height: auto;
}
.select {
  background-color: #f3f3f3;
}
.select[multiple] {
  height: auto;
}
.form-label {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0px;
}
.radio {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}
.radio:before,
.radio:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.radio:after {
  clear: both;
}
.radio-input {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  float: left;
  margin-left: -20px;
}
.radio-input {
  margin-top: 3px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.container:after {
  clear: both;
}
.container .row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.row:after {
  clear: both;
}
.row .row {
  margin-left: 0;
  margin-right: 0;
}
.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col .col {
  padding-left: 0;
  padding-right: 0;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.hidden-main {
  display: none !important;
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }
  .hidden-main {
    display: inherit !important;
  }
  .hidden-medium {
    display: none !important;
  }
  .col-medium-1 {
    width: 8.33333333%;
  }
  .col-medium-2 {
    width: 16.66666667%;
  }
  .col-medium-3 {
    width: 25%;
  }
  .col-medium-4 {
    width: 33.33333333%;
  }
  .col-medium-5 {
    width: 41.66666667%;
  }
  .col-medium-6 {
    width: 50%;
  }
  .col-medium-7 {
    width: 58.33333333%;
  }
  .col-medium-8 {
    width: 66.66666667%;
  }
  .col-medium-9 {
    width: 75%;
  }
  .col-medium-10 {
    width: 83.33333333%;
  }
  .col-medium-11 {
    width: 91.66666667%;
  }
  .col-medium-12 {
    width: 100%;
  }
  .col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 767px) {
  .hidden-main {
    display: inherit !important;
  }
  .hidden-medium {
    display: inherit !important;
  }
  .hidden-small {
    display: none !important;
  }
  .row,
  .container .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    width: 100%;
    left: auto;
    right: auto;
  }
  .col-small-1 {
    width: 8.33333333%;
  }
  .col-small-2 {
    width: 16.66666667%;
  }
  .col-small-3 {
    width: 25%;
  }
  .col-small-4 {
    width: 33.33333333%;
  }
  .col-small-5 {
    width: 41.66666667%;
  }
  .col-small-6 {
    width: 50%;
  }
  .col-small-7 {
    width: 58.33333333%;
  }
  .col-small-8 {
    width: 66.66666667%;
  }
  .col-small-9 {
    width: 75%;
  }
  .col-small-10 {
    width: 83.33333333%;
  }
  .col-small-11 {
    width: 91.66666667%;
  }
  .col-small-12 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }
  .hidden-main {
    display: inherit !important;
  }
  .hidden-medium {
    display: inherit !important;
  }
  .hidden-small {
    display: inherit !important;
  }
  .hidden-tiny {
    display: none !important;
  }
  .col {
    width: 100%;
  }
  .col-tiny-1 {
    width: 8.33333333%;
  }
  .col-tiny-2 {
    width: 16.66666667%;
  }
  .col-tiny-3 {
    width: 25%;
  }
  .col-tiny-4 {
    width: 33.33333333%;
  }
  .col-tiny-5 {
    width: 41.66666667%;
  }
  .col-tiny-6 {
    width: 50%;
  }
  .col-tiny-7 {
    width: 58.33333333%;
  }
  .col-tiny-8 {
    width: 66.66666667%;
  }
  .col-tiny-9 {
    width: 75%;
  }
  .col-tiny-10 {
    width: 83.33333333%;
  }
  .col-tiny-11 {
    width: 91.66666667%;
  }
  .col-tiny-12 {
    width: 100%;
  }
}
.widget {
  position: relative;
}

.slider {
  position: relative;
  height: 300px;
  text-align: center;
  background: #dddddd;
  clear: both;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
.slider-mask {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
}
.slide {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
}
.slider-nav {
  position: absolute;
  z-index: 2;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-top: 10px;
  height: 40px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}
.dropdown-btn,
.dropdown-toggle,
.dropdown-link {
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}
.dropdown-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}
.dropdown-toggle:focus {
  outline: 0;
}
.icon-dropdown-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: 20px;
  width: 1em;
  height: 1em;
}
.dropdown-list {
  position: absolute;
  background: #dddddd;
  display: none;
  min-width: 100%;
}
.dropdown-list.--open {
  display: block;
}
.dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222222;
}
.dropdown-link.--current {
  color: #0082f3;
}
.dropdown-link:focus {
  outline: 0;
}
@media screen and (max-width: 767px) {
  .nav-brand {
    padding-left: 10px;
  }
}

.lightbox-backdrop {
  color: #000;
  cursor: auto;
  font-family: serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  list-style: disc;
  text-align: start;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Ubuntu, "Segoe UI", Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2000;
  outline: 0;
  /* 1 */
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate(0, 0);
  /* 2 */
}
.nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.nav:after {
  clear: both;
}
.nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}
.nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.nav-link.--current {
  color: #0082f3;
}
.nav-menu {
  position: relative;
  float: right;
}
[data-nav-menu-open] {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #C8C8C8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}
.-nav-link--open {
  display: block;
  position: relative;
}
.nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
.nav-overlay [data-nav-menu-open] {
  top: 0;
}
.nav[data-animation="over-left"] .nav-overlay {
  width: auto;
}
.nav[data-animation="over-left"] .nav-overlay,
.nav[data-animation="over-left"] [data-nav-menu-open] {
  right: auto;
  z-index: 1;
  top: 0;
}
.nav[data-animation="over-right"] .nav-overlay {
  width: auto;
}
.nav[data-animation="over-right"] .nav-overlay,
.nav[data-animation="over-right"] [data-nav-menu-open] {
  left: auto;
  z-index: 1;
  top: 0;
}
.nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-button:focus {
  outline: 0;
}
.nav-button.-open {
  background-color: #C8C8C8;
  color: white;
}
.nav[data-collapse="all"] .nav-menu {
  display: none;
}
.nav[data-collapse="all"] .nav-button {
  display: block;
}
.-nav-dropdown-open {
  display: block;
}
.-nav-dropdown-toggle-open {
  display: block;
}
.-nav-dropdown-list-open {
  position: static;
}
@media screen and (max-width: 991px) {
  .nav[data-collapse="medium"] .nav-menu {
    display: none;
  }
  .nav[data-collapse="medium"] .nav-button {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .nav[data-collapse="small"] .nav-menu {
    display: none;
  }
  .nav[data-collapse="small"] .nav-button {
    display: block;
  }
  .nav-brand {
    padding-left: 10px;
  }
}
@media screen and (max-width: 479px) {
  .nav[data-collapse="tiny"] .nav-menu {
    display: none;
  }
  .nav[data-collapse="tiny"] .nav-button {
    display: block;
  }
}
